/dts-supervisord
/example_app/conf/
/example_app/bin
/example_app/dts-supervisord
/example_app/example_app
/output
/supervisord
/bin/
/conf/
/pid/
/supervisord.pid
/example_app/log/
/example_app/demo
